body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.button, .social-bnt, .button-main-hero, .button-modal-submit {
  height: 50px;
  width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
}

.button-modal-submit {
  margin-bottom: 40px;
  text-align: center;
  margin-left: 164px;
}

.social-bnt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.logo {
  display: inline;
}
.logo a {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-span-header {
  color: #000000;
}
.logo-span-footer {
  color: #ffffff;
}

.header-navi {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin: 32px 371px 32px 93px;
}
.header-navi-list {
  display: flex;
  width: 254px;
  justify-content: space-between;
}

.navi-list-item {
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: inline-block;
  position: relative;
}
.navi-list-item a {
  text-decoration: none;
  color: #212121;
}
.navi-list-item a:hover, .navi-list-item a:focus {
  color: #2196f3;
}
.navi-list-item:after {
  position: absolute;
  content: "";
  display: block;
  top: 45px;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi-list-item:hover::after {
  width: 100%;
  left: 0;
}

.active a {
  color: #2196f3;
}
.active:after {
  position: absolute;
  content: "";
  display: block;
  top: 45px;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  display: flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contact:hover, .contact:focus {
  color: #2196f3;
}
.contact .icon:hover, .contact .icon:focus {
  fill: #2196f3;
}

.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/headback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.main-hero-flex {
  display: flex;
  justify-content: center;
}

.main-hero-div {
  height: 200px;
  width: 696px;
  text-align: center;
}

.main-hero-title {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-backdrop {
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  height: 590px;
  width: 528px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-window-close-btn {
  position: -webkit-sticky;
  position: sticky;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: black;
  background-color: white;
  display: flex;
  float: right;
}
.modal-window-inputtitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
}
.modal-window-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.modal-input-label {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 40px;
}

.input-label, .input-label_coments, .input-label_mail, .input-label_phone, .input-label_name {
  width: calc(528px-40px);
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 42px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 15px 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-label:focus, .input-label_coments:focus, .input-label_mail:focus, .input-label_phone:focus, .input-label_name:focus, .input-label:hover, .input-label_coments:hover, .input-label_mail:hover, .input-label_phone:hover, .input-label_name:hover {
  border: 1px #2196f3 solid;
}

.input-label_name {
  background-image: url(../images/person-black.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-label_name:focus, .input-label_name:hover {
  background-image: url(../images/person-hov.svg);
}

.input-label_phone {
  background-image: url(../images/phone-black.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-label_phone:focus, .input-label_phone:hover {
  background-image: url(../images/phone-hov.svg);
}

.input-label_mail {
  background-image: url(../images/email-black.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-label_mail:focus, .input-label_mail:hover {
  background-image: url(../images/email-hov.svg);
}

.input-label_coments {
  resize: none;
  height: 120px;
  padding: 16px 12px;
}
.input-label_coments::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.input-label_coments:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.input-label_coments::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal_akcept {
  margin-top: 20px;
  margin-left: 77px;
  font-size: 14px;
  color: #757575;
}
.modal_akcept::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px #212121 solid;
  margin-right: 7px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_akcept a {
  color: #2196f3;
}

.modal-input_check:checked + .modal_akcept::before {
  border: 1px #2196f3 solid;
  background-image: url(../images/icon-check.svg);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.description-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.description-list-item {
  flex-basis: 270px;
  display: flex;
  flex-direction: column;
}

.description-list-item .icon {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.item-icon {
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.item-heater {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.item-paragraf {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.whatwedo-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.whatwedo-list-item {
  position: relative;
  display: block;
}
.whatwedo-list-item-content {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 4px;
  padding-top: 27px;
}/*# sourceMappingURL=main.css.map */