body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.button, .social-bnt, .button-main-hero, .button-modal-submit {
  height: 50px;
  width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
}

.button-modal-submit {
  margin-bottom: 40px;
  text-align: center;
  margin-left: 164px;
}

.social-bnt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.filter-bnt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-bnt:hover, .filter-bnt:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: url(../images/curblack.svg), pointer;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.logo {
  display: inline;
}
.logo a {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__span-header {
  color: #000000;
}
.logo__span-footer {
  color: #ffffff;
}

.header__navi {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin: 32px 371px 32px 93px;
}
.header__navi__list {
  display: flex;
  width: 254px;
  justify-content: space-between;
}

.navi__list-item {
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: inline-block;
  position: relative;
}
.navi__list-item a {
  text-decoration: none;
  color: #212121;
}
.navi__list-item a:hover, .navi__list-item a:focus {
  color: #2196f3;
}
.navi__list-item:after {
  position: absolute;
  content: "";
  display: block;
  top: 45px;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi__list-item:hover::after {
  width: 100%;
  left: 0;
}

.active a {
  color: #2196f3;
}
.active:after {
  position: absolute;
  content: "";
  display: block;
  top: 45px;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  display: flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contact:hover, .contact:focus {
  color: #2196f3;
}
.contact .icon:hover, .contact .icon:focus {
  fill: #2196f3;
}

.main__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/headback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.main__hero-flex {
  display: flex;
  justify-content: center;
}
.main__hero-div {
  height: 200px;
  width: 696px;
  text-align: center;
}
.main__hero-title {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main__backdrop {
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  height: 590px;
  width: 528px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__window-close-btn {
  position: -webkit-sticky;
  position: sticky;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: black;
  background-color: white;
  display: flex;
  float: right;
}
.modal__window-inputtitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
}
.modal__window-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.modal__input-label {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 40px;
}

.input__label, .input__label-coments, .input__label-mail, .input__label-phone, .input__label-name {
  width: calc(528px-40px);
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 42px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 15px 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__label:focus, .input__label-coments:focus, .input__label-mail:focus, .input__label-phone:focus, .input__label-name:focus, .input__label:hover, .input__label-coments:hover, .input__label-mail:hover, .input__label-phone:hover, .input__label-name:hover {
  border: 1px #2196f3 solid;
}

.input__label-name {
  background-image: url(../images/person-black.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__label-name:focus, .input__label-name:hover {
  background-image: url(../images/person-hov.svg);
}

.input__label-phone {
  background-image: url(../images/phone-black.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__label-phone:focus, .input__label-phone:hover {
  background-image: url(../images/phone-hov.svg);
}

.input__label-mail {
  background-image: url(../images/email-black.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__label-mail:focus, .input__label-mail:hover {
  background-image: url(../images/email-hov.svg);
}

.input__label-coments {
  resize: none;
  height: 120px;
  padding: 16px 12px;
}
.input__label-coments::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.input__label-coments:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.input__label-coments::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__akcept {
  margin-top: 20px;
  margin-left: 77px;
  font-size: 14px;
  color: #757575;
}
.modal__akcept::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px #212121 solid;
  margin-right: 7px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__akcept a {
  color: #2196f3;
}

.modal__input-check:checked + .modal__akcept::before {
  border: 1px #2196f3 solid;
  background-image: url(../images/icon-check.svg);
  background-position: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.description__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.description__list__item {
  flex-basis: 270px;
  display: flex;
  flex-direction: column;
}

.description__list__item .icon {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.item-icon {
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.item-heater {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.item-paragraf {
  color: #757575;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.whatwedo__list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.whatwedo__list__item {
  position: relative;
  display: block;
}
.whatwedo__list__item-content {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 4px;
  padding-top: 27px;
}

.aboutus {
  background-color: #f5f4fa;
}
.aboutus__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.aboutus__list__item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  align-items: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-paragraf {
  font-size: 16px;
}

.media__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 30px;
}

.media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover, .media-link:focus {
  background-color: #2196f3;
}
.media-link .icon {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}
.media-link:hover .icon {
  fill: #fff;
}

.clients__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.clients__list__item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.clients-link {
  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link .icon {
  margin: 16px 32px;
  width: 106px;
  height: 80px;
  fill: #afb1b8;
}
.clients-link:hover {
  border: 1px solid #2196f3;
}
.clients-link:hover .icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer__list {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-around;
}

.footmain {
  display: flex;
}

.address {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  margin-top: 20px;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address a:hover {
  color: var(--hovercol);
}

.social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social__footer__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 30px;
}
.social__footer__list__item:not(:last-child) {
  margin-right: 10px;
}
.social__footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__footer-link:hover, .social__footer-link:focus {
  background-color: #2196f3;
  cursor: url(../images/Vector.svg), pointer;
}
.social__footer-link:hover .icon {
  fill: white;
  stroke: white;
}
.social__footer-link .icon {
  width: 44px;
  height: 44px;
  fill: white;
}

.media__list__item:not(:last-child) {
  margin-right: 10px;
}

.newsletter {
  width: 50%;
}
.newsletter__form {
  display: flex;
}
.newsletter__form-input {
  color: #fff;
  width: 358px;
  height: 50px;
  margin-right: 15px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.send {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

.filters__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 34px;
}

.projects__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
}
.projects__list__item {
  border: 1px solid #eeeeee;
  height: 404px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.projects__list__item:hover {
  cursor: url(../images/curblack.svg), pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__list__item-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects__list__item-description {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.project__item__link {
  text-decoration: none;
  color: #212121;
  display: flex;
  flex-direction: column;
}
.project__item__link:hover .shortdes {
  transform: translateY(-100%);
}

.popup {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shortdes {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  color: white;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  opacity: 0.9;
}/*# sourceMappingURL=main.css.map */