:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --hovercol: #2196f3;
  --maincolor: #212121;
  --secondcolor: #757575;
  --backicon: #f5f4fa;
  --mainicon: rgb(175, 177, 184);
}
a:hover {
  cursor: url(../images/curblack.svg), pointer;
}
body {
  font-family: var(--main-font);
  color: var(--maincolor);
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* START HEADER */
.header {
  border-bottom: 1px solid #ececec;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.logo {
  display: inline;
}
.logo a {
  font-family: var(--second-font);
  color: var(--hovercol);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-span-header {
  color: #000000;
}

.logo-span-footer {
  color: #ffffff;
}
.navi {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin: 32px 371px 32px 93px;
}
.navi-list {
  display: flex;
  width: 254px;
  justify-content: space-between;
}
.navi-list-item {
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: inline-block;
  position: relative;
}

.navi-list-item a {
  text-decoration: none;
  color: var(--maincolor);
}

.navi-list-item::after {
  position: absolute;
  content: "";
  display: block;
  top: 45px;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi-list-item:hover::after {
  width: 100%;
  left: 0;
}
.navi-list-item a:hover,
.navi-list-item a:focus {
  color: var(--hovercol);
}
.active a {
  color: #2196f3;
}
.active::after {
  position: absolute;
  content: "";
  display: block;
  top: 45px;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact {
  display: flex;
  align-items: center;
  color: var(--secondcolor);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contact:hover,
.contact:focus {
  color: var(--hovercol);
}
.contact .icon:hover,
.contact .icon:focus {
  fill: var(--hovercol);
}

/* END HEADER */

/* START MAIN-HERO */
.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/headback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.main-flex {
  display: flex;
  justify-content: center;
}
.main-div {
  height: 200px;
  width: 696px;
  text-align: center;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-bnt {
  background-color: var(--hovercol);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  height: 50px;
  width: 200px;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
}
/* END MAIN-HERO */

/* START MAIN-DESCRIPTION */
.description-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.description-list-item {
  flex-basis: 270px;
  display: flex;
  flex-direction: column;
}
.description-list-item .icon {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.description-list-item div {
  text-align: center;
  background-color: var(--backicon);
  border-radius: 4px;
}
.description-list-item h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.description-list-item p {
  color: var(--secondcolor);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/* END MAIN-DESCRIPTION */

/* START MAIN-WHTAWEDO */

.whatwedo-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.whatwedo-list li {
  position: relative;
  display: block;
}

.whatwedocontent {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 4px;
  padding-top: 27px;
}

/* END MAIN-WHTAWEDO */

/* START MAIN-ABOUTUS */
.aboutus {
  background-color: #f5f4fa;
}
.aboutus-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.aboutus-list-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  align-items: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aboutus-list-item h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}
.aboutus-list-item p {
  color: var(--secondcolor);
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.media-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 30px;
}
.media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover,
.media-link:focus {
  background-color: var(--hovercol);
}
.media-link .icon {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}
.media-link:hover .icon {
  fill: #fff;
}
/* END MAIN-ABOUTUS */

/* START MAIN-CLINETS */
.clients-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.clients-list-item {
  display: flex;
  justify-content: center;
  text-align: center;
}
.clients-link {
  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link .icon {
  margin: 16px 32px;
  width: 106px;
  height: 80px;
  fill: var(--mainicon);
}
.clients-link:hover {
  border: 1px solid var(--hovercol);
}

.clients-link:hover .icon {
  fill: var(--hovercol);
}
/* END MAIN-CLINETS */

/* START FOOTER */
.footer {
  background-color: #2f303a;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footmain {
  display: flex;
}
.footer-list {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-around;
}

.address {
  color: rgba(255, 255, 255, 100%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  margin-top: 20px;
}
.address a {
  color: rgba(255, 255, 255, 60%);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address a:hover {
  color: var(--hovercol);
}
.social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-footer-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 30px;
}
.media-list-item:not(:last-child),
.social-footer-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--hovercol);
  cursor: url(../images/Vector.svg), pointer;
}

.social-footer-link .icon {
  width: 44px;
  height: 44px;
  fill: white;
}
.social-footer-link:hover .icon {
  fill: white;
  stroke: white;
}
.newsletter {
  width: 50%;
}
.newsletterform {
  display: flex;
}
.social-bnt {
  width: 200px;
  height: 50px;
  background-color: var(--hovercol);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.social-bnt:hover {
  cursor: pointer;
}
.send {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
#social_email {
  color:#fff;
  width: 358px;
  height: 50px;
  margin-right: 15px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
/* END FOOTER */

/* START PORTFOLIO-FILTERS */
.filters-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 34px;
}
.filter-bnt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-bnt:hover,
.filter-bnt:focus {
  color: #ffffff;
  background-color: var(--hovercol);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: url(../images/curblack.svg), pointer;
}

/* END PORTFOLIO-FILTERS */

/* START PROJECTS */
.projects-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
}
.projects-list-item {
  border: 1px solid #eeeeee;
  height: 404px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.projects-list-item:hover {
  cursor: url(../images/curblack.svg), pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item-link {
  text-decoration: none;
  color: var(--maincolor);
  display: flex;
  flex-direction: column;
}

.popup {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.shortdes {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--hovercol);
  color: white;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  opacity: 0.9;
}
.project-item-link:hover .shortdes {
  transform: translateY(-100%);
}
.project-title {
  margin: 20px 24px;
}
.item-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.item-description {
  color: var(--secondcolor);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

/* END PROJECTS */

/* MODAL */

/* Okno modalne */

.backdrop {
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  position: sticky;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: black;
  background-color: white;
  display: flex;
  float: right;
}

.modal-window {
  position: absolute;
  height: 80vh;
  width: 90vw;
  max-height: 580px;
  max-width: 528px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modalinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#user_coment {
  resize: none;
}
.inputtitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
}
.modal_label {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 40px;
}
.modal_label_input {
  width: calc(100%-40px);
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 42px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 15px 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
#user_name {
  background-image: url(../images/person-black.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#user_name:hover {
  background-image: url(../images/person-hov.svg);
}
#user_phone {
  background-image: url(../images/phone-black.svg);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
#user_phone:hover {
  background-image: url(../images/phone-hov.svg);
}
#user_email {
  background-image: url(../images/email-black.svg);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
#user_email:hover {
  background-image: url(../images/email-hov.svg);
}
#user_coment {
  height: 120px;
  padding: 16px 12px;
}
.modal_label_input:hover {
  border: 1px var(--hovercol) solid;
}
.modal_akcept {
  margin-top: 20px;
  margin-left: 77px;
  font-size: 14px;
  color: #757575;
}
.modal_akcept::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px var(--maincolor) solid;
  margin-right: 7px;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal_akcept  a {
  color: var(--hovercol);
}
#user_akcept:checked + .modal_akcept {
  color: var(--hovercol);
}
#user_akcept:checked + .modal_akcept::before {
  border: 1px var(--hovercol) solid;
  background-image: url(../images/icon-check.svg);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.modal {
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
  margin-left: 164px;
}
