:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --hovercol: #2196f3;
  --maincolor: #212121;
  --secondcolor: #757575;
}

body {
  font-family: var(--main-font);
  color: var(--maincolor);
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
}
.section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}


/* START HEADER */
.header {
  border-bottom: 1px solid #ececec;
  padding-left: 15px;
  /* padding-right: 27px; */
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.logo {
  display: inline;
}
.logo a {
  font-family: var(--second-font);
  color: var(--hovercol);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-span-header {
  color: #000000;
}

.logo-span-footer {
  color: #ffffff;
}
.navi {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin: 32px 371px 32px 93px;
}
.navi-list {
  display: flex;
  width: 254px;
  justify-content: space-between;
}
.navi-list-item {
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: inline-block;
}

.navi-list-item a {
  text-decoration: none;
  color: var(--maincolor);
}

.navi-list-item a:hover,
.navi-list-item a:focus {
  color: var(--hovercol);
}

.contact {
  color: var(--secondcolor);
  text-decoration: none;
}
.contact:hover {
  color: var(--hovercol);
}
.tel {
  margin-left: 50px;
}
/* END HEADER */

/* START MAIN-HERO */
.main-hero {
  background-color: #2f303a;
  height: 600px;
  position: relative;
}
.main-div {
  height: 200px;
  width: 696px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-bnt {
  background-color: var(--hovercol);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  height: 50px;
  width: 200px;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
}
/* END MAIN-HERO */

/* START MAIN-DESCRIPTION */
.description-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.description-list-item {
  flex-basis: 270px;
}
.description-list-item h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

.description-list-item p {
  color: var(--secondcolor);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/* END MAIN-DESCRIPTION */

/* START MAIN-WHTAWEDO */

.whatwedo-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 50px;
}

/* END MAIN-WHTAWEDO */

/* START MAIN-ABOUTUS */
.aboutus {
  background-color: #f5f4fa;
}
.aboutus-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.aboutus-list-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.aboutus-list-item h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}
.aboutus-list-item p {
  color: var(--secondcolor);
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
/* END MAIN-ABOUTUS */

/* START FOOTER */
.footer {
  background-color: #2f303a;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: rgba(255, 255, 255, 100%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  margin-top: 20px;
}
.address a {
  color: rgba(255, 255, 255, 60%);
  text-decoration: none;
}
/* END FOOTER */

/* START PORTFOLIO-FILTERS */
.filters-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 34px;
}
.filter-bnt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 8px;
}
.filter-bnt:hover {
  color: #ffffff;
  background-color: var(--hovercol);
}

/* END PORTFOLIO-FILTERS */

/* START PROJECTS */
.projects-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
}
.projects-list-item {
  border-bottom: 1px solid #eeeeee;
  height: 404px;
}
.project-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.item-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.item-description {
  color: var(--secondcolor);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
/* END PROJECTS */
