:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --hovercol: #2196f3;
  --maincolor: #212121;
  --secondcolor: #757575;
  --backicon: #f5f4fa;
  --mainicon: rgb(175, 177, 184);
}
a:hover{
  cursor: url(../images/curblack.svg), help;
}
body {
  font-family: var(--main-font);
  color: var(--maincolor);
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

/* START HEADER */
.header {
  border-bottom: 1px solid #ececec;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.logo {
  display: inline;
}
.logo a {
  font-family: var(--second-font);
  color: var(--hovercol);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-span-header {
  color: #000000;
}

.logo-span-footer {
  color: #ffffff;
}
.navi {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin: 32px 371px 32px 93px;
}
.navi-list {
  display: flex;
  width: 254px;
  justify-content: space-between;
}
.navi-list-item {
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: inline-block;
}

.navi-list-item a {
  text-decoration: none;
  color: var(--maincolor);
}

.navi-list-item a:hover,
.navi-list-item a:focus {
  color: var(--hovercol);
  
}

.contact {
  display: flex;
  align-items: center;
  color: var(--secondcolor);
  text-decoration: none;
}
.contact svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contact:hover,
.contact:focus {
  color: var(--hovercol);
}
.contact .icon:hover,
.contact .icon:focus {
  fill: var(--hovercol);
}

/* END HEADER */

/* START MAIN-HERO */
.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/headback.jpg");    
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.main-flex {
  display: flex;
  justify-content: center;
}
.main-div {
  height: 200px;
  width: 696px;
  text-align: center;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-bnt {
  background-color: var(--hovercol);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  height: 50px;
  width: 200px;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
}
/* END MAIN-HERO */

/* START MAIN-DESCRIPTION */
.description-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.description-list-item {
  flex-basis: 270px;
  display: flex;
  flex-direction: column;
}
.description-list-item .icon {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.description-list-item div {
  text-align: center;
  background-color: var(--backicon);
  border-radius: 4px;
}
.description-list-item h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

.description-list-item p {
  color: var(--secondcolor);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/* END MAIN-DESCRIPTION */

/* START MAIN-WHTAWEDO */

.whatwedo-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 50px;
}

/* END MAIN-WHTAWEDO */

/* START MAIN-ABOUTUS */
.aboutus {
  background-color: #f5f4fa;
}
.aboutus-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.aboutus-list-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  align-items: center;
}
.aboutus-list-item h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}
.aboutus-list-item p {
  color: var(--secondcolor);
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.media-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 30px;
}
.media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.media-link:hover,
.media-link:focus {
  background-color: var(--hovercol);
}
.media-link .icon {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}
.media-link:hover .icon {
  fill: var(--hovercol);
  stroke: white;
}
/* END MAIN-ABOUTUS */

/* START MAIN-CLINETS */
.clients-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.clients-list-item {
  display: flex;
  justify-content: center;
  text-align: center;
}
.clients-link {
  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-link .icon {
  margin: 16px 32px;
  width: 106px;
  height: 80px;
  fill: var(--mainicon);
}
.clients-link:hover {
  border: 1px solid var(--hovercol);
}

.clients-link:hover .icon {
  fill: var(--hovercol);
}
/* END MAIN-CLINETS */

/* START FOOTER */
.footer {
  background-color: #2f303a;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-around;
}

.address {
  color: rgba(255, 255, 255, 100%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  margin-top: 20px;
}
.address a {
  color: rgba(255, 255, 255, 60%);
  text-decoration: none;
}
.social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-footer-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 30px;
}
.media-list-item:not(:last-child),
.social-footer-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--hovercol);
  cursor: url(../images/Vector.svg), help;
}

.social-footer-link .icon {
  width: 44px;
  height: 44px;
  fill: white;
}
.social-footer-link:hover .icon {
  fill: white;
  stroke: white;
}
/* END FOOTER */

/* START PORTFOLIO-FILTERS */
.filters-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 34px;
}
.filter-bnt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 8px;
}
.filter-bnt:hover,
.filter-bnt:focus {
  color: #ffffff;
  background-color: var(--hovercol);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
   cursor: url(../images/curblack.svg), help;
}

/* END PORTFOLIO-FILTERS */

/* START PROJECTS */
.projects-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
}
.projects-list-item {
  border-bottom: 1px solid #eeeeee;
  height: 404px;
  margin-bottom: 30px;
}
.projects-list-item:hover {
   cursor: url(../images/curblack.svg), help;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-title {
  margin: 20px 24px;
}
.item-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.item-description {
  color: var(--secondcolor);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
/* END PROJECTS */
