@import "./utils/variables";
@import "./components/body";
@import "./components/buttons";
@import "./components/header";
@import "./components/hero";
@import "./components/modal";
@import "./components/description";
@import "./components/whatwedo";
@import "./components/aboutus";
@import "./components/clients";
@import "./components/footer";
@import "./components/portfolio";
@import "./components/mobileMenu";

@media (min-width: 768px) {
  .mobile__menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .container,
  .section {
    min-width: 320px;
  }
  .header__menu {
    justify-content: space-between;
    align-content: space-between;
  }
  .header__navi,
  .header__menu-contact,
  .whatwedo {
    display: none;
  }
  .main__hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/headbackMobile.jpg");
    height: 400px;
    &-title {
      font-size: 26px;
      &-div {
        max-width: 365px;
        min-height: 84px;
        text-align: center;
      }
    }
  }
  .description__list {
      display: block;
      padding: 15px 30px;
      text-align: center;
      font-size: 14px;
  }
  .item-paragraf {
      text-align: start;
      margin-top: 10px;
      margin-bottom: 30px;

    }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
  .header__menu-contact {
    display: block;
  }
  .main__hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/headbackTablet.jpg");
    height: 400px;
  }
  .whatwedo {
    display: none;
  }
}
