@import "../utils/mixin";
.aboutus {
  background-color: #f5f4fa;
  &-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    &-item {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      align-items: center;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
    }
  }
}
.item-paragraf {
  @include size(16px);
}
.media-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 30px;
}
.media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
  background-color: $hoverColor;
}
& .icon {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}
&:hover .icon {
  fill: #fff;
}
}