@import "../utils/variables";

body {
  font-family: $mainFont;
  color: $mainColor;
  min-width: 320px;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  min-width: $minimumWidth;
  margin: 0 auto;
}
.section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;

  &-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
