.footer {
  background-color: $bgColor;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  &__list {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
  }
}
.footmain {
  display: flex;
}
.address {
  color: rgba(255, 255, 255, 100%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  margin-top: 20px;
  & a {
    color: rgba(255, 255, 255, 60%);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: var(--hovercol);
    }
  }
}
.social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  &__footer__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 30px;
    &__item:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $hoverColor;
      cursor: url(../images/svg/Vector.svg), pointer;
    }
    &:hover .icon {
      fill: white;
      stroke: white;
    }
    & .icon {
      width: 44px;
      height: 44px;
      fill: white;
    }
  }
}
.media__list__item:not(:last-child) {
  margin-right: 10px;
}

.newsletter {
  width: 50%;
  &__form {
    display: flex;
    &-input {
      color: #fff;
      width: 358px;
      height: 50px;
      margin-right: 15px;
      padding: 15px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
    }
  }
}
.send {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
