.header {
  border-bottom: 1px solid #ececec;
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left:  15px;
    padding-right: 15px;
    padding-top: 16px;
  }
}

.logo {
  display: inline;
  & a {
    font-family: $secondFont;
    color: $hoverColor;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  &__span-header {
    color: #000000;
  }
  &__span-footer {
    color: #ffffff;
  }
}



.navi__list-item {
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: inline-block;
  position: relative;
  & a {
    text-decoration: none;
    color: $mainColor;
    &:hover,
    &:focus {
      color: $hoverColor;
    }
  }
  &:after {
    position: absolute;
    content: "";
    display: block;
    top: 45px;
    right: 0;
    width: 0;
    height: 5px;
    background-color: $hoverColor;
    border-radius: 4px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}



.contact {
  display: flex;
  align-items: center;
  color: $secondColor;
  text-decoration: none;
  margin-left: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & svg {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  &:hover,
  &:focus {
    color: $hoverColor;
  }
  & .icon:hover,
  & .icon:focus {
    fill: $hoverColor;
  }}
.header__navi,
  .header__menu-contact {
      display: none;
  }



  @media screen and (min-width:768px) and (max-width:1199px) {
.header__menu-contact {
  display: block;
  align-content: space-between;
}
.header__navi {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin: 32px 83px 32px 73px;
  &__list {
    display: flex;
    width: 282px;
    justify-content: space-between;
  }
}
.contact {
    margin-left: 0;
}
.mail {
    margin-bottom: 10px;
}
.active {
  & a {
    color: $hoverColor;
  }
  &:after {
    position: absolute;
    content: "";
    display: block;
    top: 45px;
    width: 100%;
    height: 5px;
    background-color: $hoverColor;
    border-radius: 4px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
  }


  @media screen and (min-width:1200px) {
.header__menu {
    width: 100%;
    &-contact {
  display: flex;}}



.header__navi {

  display: inline-block;
  margin: 32px 361px 32px 93px;
  &__list {
    display: flex;
    width: 254px;
    justify-content: space-between;
  }
}

.navi__list-item {
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: inline-block;
  position: relative;
  & a {
    text-decoration: none;
    color: $mainColor;
    &:hover,
    &:focus {
      color: $hoverColor;
    }
  }
  &:after {
    position: absolute;
    content: "";
    display: block;
    top: 45px;
    right: 0;
    width: 0;
    height: 5px;
    background-color: $hoverColor;
    border-radius: 4px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.active {
  & a {
    color: $hoverColor;
  }
  &:after {
    position: absolute;
    content: "";
    display: block;
    top: 45px;
    width: 100%;
    height: 5px;
    background-color: $hoverColor;
    border-radius: 4px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact {
    margin: 0;
    
}
.tel {
    margin-left: 30px;
    
}

  }