.main__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/headback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
&-flex {
  display: flex;
  justify-content: center;
}
&-div {
  height: 200px;
  width: 696px;
  text-align: center;
}

&-title {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
}