.mobile__menu__backdrop {
  width: 100vw;
  height: 100vh;
  visibility: visible;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  pointer-events: auto;
  background: #fff;
  z-index: 99;
  ;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.mobile__menu__window {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
  position: absolute;
  width: 480px;
  height: 796px;
  left: 0px;
  top: 0px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

}

.mobile__menu-close-btn {
   
  position: sticky;
  right: 11px;
  top: 11px;
  cursor: pointer;
  fill: black;
  background-color: white;
  float: right;
  border: none;
  & svg {
 width: 40px;
    height: 40px;
  }
  &:hover {
    fill: $hoverColor;
  }
}
.mobile__menu__list {
    margin: 40px 48px;
    font-size: 40px;
    display: block;
    margin-bottom: 306px;
    &__item {
        margin-top: 32px;
        margin-bottom: 32px;
        
        & a {
            text-decoration: none;
            color: #000;
            &:hover{
                color: $hoverColor;
            }
        }
    }
}


.mobile__contact__socialMedia__list {
    margin-bottom: 48px;
    margin-left: 40px;
    margin-top: 64px;
    display: flex;
}
.socialMedia__list__item {
    padding-left: 10px;
    padding-right: 10px;
    &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);}
    & a {
        color: $hoverColor;
        text-decoration: none;
    }
}
%mobile__contact {
    margin-left: 40px;
    margin-bottom: 32px;
    text-decoration: none;
    display: block;
}
.mobile__contact-tel {
    @extend %mobile__contact;
    font-size: 34px;
    color: $hoverColor;

}
.mobile__contact-mail {
    @extend %mobile__contact;
    font-size: 24px;
    color: $secondColor;
}