.main__backdrop {
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal__window {
  position: absolute;
  height: $modalHeight;
  width: $modalWidth;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &-close-btn {
    position: sticky;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    fill: black;
    background-color: white;
    display: flex;
    float: right;
  }
  &-inputtitle {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 12px;
  }
  &-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.modal__input-label {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 40px;
}

.input__label {
  width: calc(#{$modalWidth}-40px);
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 42px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 15px 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border: 1px $hoverColor solid;
  }
}
.input__label-name {
  @extend .input__label;
  background-image: url(../images/person-black.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-image: url(../images/person-hov.svg);
  }
}
.input__label-phone {
  @extend .input__label;
  background-image: url(../images/phone-black.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-image: url(../images/phone-hov.svg);
  }
}
.input__label-mail {
  @extend .input__label;
  background-image: url(../images/email-black.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-image: url(../images/email-hov.svg);
  }
}
.input__label-coments {
  @extend .input__label;
  resize: none;
  height: 120px;
  padding: 16px 12px;
  &::placeholder {
    font-size: 12px;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__akcept {
  margin-top: 20px;
  margin-left: 77px;
  font-size: 14px;
  color: #757575;
  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px $mainColor solid;
    margin-right: 7px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & a {
    color: $hoverColor;
  }
}
.modal__input-check:checked + .modal__akcept::before {
  border: 1px $hoverColor solid;
  background-image: url(../images/icon-check.svg);
  background-position: center;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

