.filters__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 34px;
}
.projects__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
&__item {
  border: 1px solid #eeeeee;
  height: 404px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
&:hover {
  cursor: url(../../images/svg/curblack.svg), pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
&-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
&-description {
  color: $secondColor;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
}}
.project__item__link {
  text-decoration: none;
  color: $mainColor;
  display: flex;
  flex-direction: column;
  &:hover .shortdes {
  transform: translateY(-100%);
}
}

.popup {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.shortdes {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $hoverColor;
  color: white;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  opacity: 0.9;
}
