  $mainFont: "Roboto", sans-serif;
  $secondFont: "Raleway", sans-serif;
  $hoverColor: #2196f3;
  $mainColor: #212121;
  $secondColor: #757575;
  $backicon: #f5f4fa;
  $mainicon: rgb(175, 177, 184);
  $modalHeight: 590px;
  $modalWidth: 528px;
  $bgColor: #2f303a;
  $minimumWidth: 320px;
  $mobileWidth: 480px;
  $tabletWidth: 768px;
  $desktopWidth: 1200px;